@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Zen+Kurenaido&display=swap');

:root{
    --color1:rgb(35, 54, 37);
    --color2:rgb(51, 54, 35);
}
.navbar{
    width: 85%;
    height: auto;
    margin: auto;
    padding: 20px;
    justify-content: space-between;
}
.navbar ul li{
    color: var(--color1);
    display: inline-block;
}
.navbar li{
    margin-left: 20px;
}
.logo-div{
    display: flex;
    align-items: center;
}
.logo1{
    display: none;
}
.logo{
    color: rgb(35, 54, 37);
    font-size: 30px;
    margin: 10px;
}
.brand{
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
}
.abdul{
    color: var(--color1);
}
.aziz{
    color: var(--color2);
}
.content-wrapper{
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;

}
.content-box h1 h5{
    color: var(--color1);
}
.content-box p{
    color: var(--color2);
}
.nav-menu{
    display: block;
}
.menu-toggler{
    display: none;
}
.empty-mobile{
    display:none ;
}
.grid-cup{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.p-icon{
    float: left;
    margin-right: 10px;
    font-size: 80px;
}
.card-box{
    margin-top: 10px;
    padding: 30px;
    
}
.my-image{
    border-radius: 40%;
}
.content-wrapper{
    width: 85%;
    margin: auto;
    height: 90vh;
}
.footer{
    width: 100%;
    margin-top: 40px;
    height: 40vh;
    background-color: rgb(29, 151, 141);
}
.cup{
    overflow: hidden;
}
.bottomDiv{
    width: 100%;
    height: 40px;
    margin: 0;
    background-color: rgb(20, 22, 21);
}

@media only screen and (max-width:650px) {
    .navbar{
        width: 100%;
        margin: 0;
    }
    .p-icon{
        float: left;
        margin-right: 10px;
        font-size: 80px;
    }
    .nav-menu{
        display: none;
    }
    .menu-toggler{
        display: block;
        font-size: 25px;
        color: var(--color2);
    }
    .empty-mobile{
        display:block ;
    }
    .empty-mobile i{
        text-align: center;
        margin: 20px;
        font-size: 20px;
        color: var(--color1);
        width: 100%;
    }
    .ico-div{
        padding: 20px;
    }
    .logo{
        display: none;
    }
    .logo1{
        display: block;
        font-size: 20px;
    }
    .card-box{
        margin-top: 10px;
        padding: 20px;
        display: block;
    }
    .brand{
        margin-left: 10px;
        margin-top: 3px;
        font-size: 25px;
        margin-left: 10px;
    }
    .my-image{
        width: 100%;
        border-radius:40%;
    }
    .content-wrapper{
        height: 90vh;
        margin-top: -70px;
    }
    .grid-cup{
        display: block;
    }
   
    
}