@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Zen+Kurenaido&display=swap");

:root {
  --color1: rgb(35, 54, 37);
  --color2: rgb(51, 54, 35);
}
.navbar {
  width: 85%;
  height: auto;
  margin: auto;
  padding: 20px;
  justify-content: space-between;
}

.btn{
    border-radius: 20px;
}
.message{
    height: 20vh;
    width: 85.5%;
}

.co{
    width: 85%;
    padding: 30px;
    margin: auto;
}
.navbar ul li {
  color: var(--color1);
  display: inline-block;
}
.navbar li {
  margin-left: 20px;
}
.logo-div {
  display: flex;
  align-items: center;
}
.logo {
  color: rgb(35, 54, 37);
  font-size: 30px;
  margin: 10px;
}
.brand {
  font-size: 30px;
  font-family: "Poppins", sans-serif;
}
.abdul {
  color: var(--color1);
}
.aziz {
  color: var(--color2);
}
.content-wrapper {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.about-title-div {
  margin-top: 40px;
}
.patners-div {
  width: 100%;
}
.about-card-div {
  margin-top: 20px;
  justify-content: space-between;
  display: flex;
}
.card-about {
  width: 20%;
  height: 30vh;
}
.about-title1 {
  color: var(--color1);
  width: 40%;
  font-size: 30px;
}
.footer-social-div{
    display: flex;
    padding-top: 25%;
    justify-content: space-around;
}
.content-box h1 h5 {
  color: var(--color1);
}
.content-box p {
  color: var(--color2);
}
.nav-menu {
  display: block;
}
.menu-toggler {
  display: none;
}
.link {
  color: var(--color1);
}
.link:hover {
  text-decoration: none;
  list-style: none;
  color: green;
  transition: width 2s ease;
  font-style: normal;
}
.empty-mobile {
  display: none;
}
.lgDiv {
  align-items: center;
  display: flex;
}
.grid-cup {
  display: flex;
  justify-content: space-between;
}
.p-icon {
  float: left;
  margin-right: 10px;
  font-size: 80px;
}
.card-box {
  margin-top: 10px;
  padding: 30px;
}
.my-image {
  border-radius: 40%;
}
.content-wrapper {
  width: 85%;
  margin: auto;
  height: 90vh;
}
.footer {
  width: 100%;
  margin-top: 40px;
  display: grid;
  padding: 30px;
  background-color: rgb(121, 205, 216);
  grid-template-columns: 1fr 1fr;
  height: 40vh;
}
.cup {
  overflow: hidden;
}
.bottomDiv {
  width: 100%;
  height: 40px;
  padding: 10px;
  margin: 0;
  background-color: rgb(20, 22, 21);
}
.bottomDiv p{
    color: var(--color2);
  }
.about-content {
  margin-top: 40px;
}
.about-content {
  padding-top: 30px;
  text-align: center;
  width: 85%;
  margin: auto;
  justify-content: center;
}
.about-addition-story{
    margin-top: 40px;
}
.about-addition-story p{
    width: 40%;
    text-align: start;
}
.contact-input-div{
    display: flex;
}
.email{
    margin-left: 3px;
}
.contact-cup{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.my-location{
    padding: 30px;
    align-items: center;
}
.my-location h3{
    color: var(--color1);
}
.contact-social-div{
    display: flex;
}
.closeSidebar{
  display:none;
}
@media only screen and (max-width: 650px) {
  .navbar {
    width: 100%;
    margin: 0;
  }
  .show-sidebar{
    width: 40vh;
    position: fixed;
    top: 0;
    transition: width 0.5s ease;
    left: 0;
    display: block;
    height: 100vh;
    z-index: 1000;
    background-color: rgb(121, 205, 216);
  }
  .closeSidebar{
    width: 0;
    position: absolute;
    transition: width 0.5s ease;
  }
  .hideWrapper{
    display: none;
  }
  .showWrapper{
    display: block;
  }
  .side-img-div{
    width: 100%;
  }
  .me{
    width: 150px;
    height: 150px;
    margin-top: -30px;
    margin-left: 50px;
    border-radius: 50%;
  }
  .side-logo-div{
    padding: 20px;
    display: flex;
    justify-content: space-between;
  }
  .side-logo-div i{
    cursor: pointer;
    font-size: 25px;
  }
  .side-links-div{
    width: 40vh;
    padding: 20px;
  }
  .side-links-div ul li{
    list-style: none;
  }

  .side-links-div  li{
    display: flex;
    align-items: center;
    padding: 20px;
  }
  .links{
    color: var(--color1);
  }




  .side-links-div  li i{
    margin-right: 10px;
  }
  
  .contact-cup{
      display: block;
  }
  .email{
      margin: 0;
  }
  .contact-input-div{
      display: block;
  }
  .co{
    width: 100%;
    padding: 30px;
    margin: auto;
}
  .about-addition-story p{
    width: 100%;
    text-align: start;
}
  .logo-div {
    width: 100%;
    justify-content: space-between;
  }
  .message{
    height: 20vh;
    width: 100%;
}
  .about-title1 {
    color: var(--color1);
    width: 80%;
    font-size: 20px;
  }
  .p-icon {
    float: left;
    margin-right: 10px;
    font-size: 80px;
  }
  .about-card-div {
    margin-top: 20px;
    display: block;
  }
  .card-about {
    width: 100%;
    margin-top: 20px;
    height: 30vh;
  }

  .nav-menu {
    display: none;
  }
  .menu-toggler {
    display: block;
    font-size: 25px;
    color: var(--color2);
  }
  .empty-mobile {
    display: block;
  }
  .empty-mobile i {
    text-align: center;
    margin: 20px;
    font-size: 20px;
    color: var(--color1);
    width: 100%;
  }
  .ico-div {
    padding: 20px;
  }
  .logo {
    display: block;
    font-size: 20px;
    margin-right: -6px;
  }
  .card-box {
    margin-top: 10px;
    padding: 20px;
    display: block;
  }
  .brand {
    margin-left: 10px;
    margin-top: 3px;
    font-size: 25px;
    margin-left: 10px;
  }
  .my-image {
    width: 100%;
    border-radius: 40%;
  }
  .content-wrapper {
    height: 90vh;
    margin-top: -70px;
  }
  .grid-cup {
    display: block;
  }

}
